# TMDB
TMDB_API_KEY=

# Radarr
RADARR_BASE_URL=http://jpcoder.duckdns.org:7878
RADARR_API_KEY=

# Sonarr
SONARR_BASE_URL=http://jpcoder.duckdns.org:8989
SONARR_API_KEY=

# SABnzbd
SABNZBD_BASE_URL=http://jpcoder.duckdns.org:38080
SABNZBD_API_KEY=
